.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
